@{
    ViewData["Title"] = "Cadastrar Aluno";
    

 }

<center>

    <p> <h1 class ="display-4" >@ViewData["Title"]</h1></p>
  
</center>

<main>

    <p>

        @await Html.PartialAsync("_FormsBasic")

    </p>

</main>




